/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.nav-logo {
  height: 45px;
  cursor: pointer;
}
.nav-icon-container
{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-icons
{
    height: 21px;
    border-radius: 50%;
    padding: 10px;
} */